/* ------------------------- */
/* GENERAL STYLES */
/* ------------------------- */
body {
    font-family: 'Inria Sans', sans-serif;
    background-color: #04080f;
    color: white;
    margin: 0;
}

#main-page {
    width: 70%;
    margin: 7% auto;
}

.panel {
    background-color: white;
    text-align: center;
    border-radius: 15px;
    width: 75%;
    margin: 100px auto;
    color: black;
    padding-bottom: 15px;
}

.panel-title {
    text-align: center;
    color: white;
    padding: 5px 20px;
    background-color: #f32d1f;
    font-size: 26px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    display: block;
}

.lighter {
    color: #474745;
    font-size: 16px;
}

.hightlight {
    color: #f32d1f;
    font-weight: 700;
}



/* ------------------------- */
/* NAVBAR */
/* ------------------------- */
#navbar {
    width: 100%;
    text-align: center;
    padding-top: 20px;
    position: absolute;
    top: 0px;
    left: 0px;
}

.navbar-item {
    padding: 10px 20px;
    margin: 0 30px;
    font-size: 30px;
    display: inline-block;
    font-weight: 700;
}

.navbar-item:hover, .active  {
    background-color: white;
    color: #04080f;
}



/* ------------------------- */
/* TITLE */
/* ------------------------- */
#title-area {
    margin: 10% 0 0 0;
}

#title-area h1 {
    font-size: 100px;
    text-align: center; 
    margin: 0;
}

#title-area h2 {
    text-align: center;
    margin: 0 auto;
    color: #91c2ff;
    font-weight: 300;
    font-size: 30px;
}



/* ------------------------- */
/* SKILLS SECTION */
/* ------------------------- */
.skill-item {
    display: inline-block;
    padding: 5px;
    margin: 10px 40px 20px 40px;
}

.skill-item-image {
    height: 100px;
}

.skill-item-title {
    text-align: center;
    margin: 0 auto;
    color: black;
    font-size: 24px;
    font-weight: 400;
}



/* ------------------------- */
/* COURSES SECTION */
/* ------------------------- */
#courses-table {
    text-align: justify;
    margin: 0 auto;
}

.courses-list {
    margin: 0;
}

.courses-column {
    width: 50%;
    vertical-align: top;
}

#courses-right-column {
    padding-right: 40px;
}


/* ------------------------- */
/* EDUCATION SECTION */
/* ------------------------- */
#education-image {
    height: 70px;
    display: inline;
    transition: height 0.5s;
}

#education-image:hover {
    height: 75px;
}

.education-detail {
    margin: 5px auto 10px auto;
    font-size: 18px;
}