body {
    font-family: 'Inria Sans', sans-serif;
    background-color: #04080f;
    color: white;
}



#navbar {
    width: 100%;
    text-align: center;
    padding-top: 20px;
    position: absolute;
    top: 0px;
    left: 0px;
}

.navbar-item {
    padding: 10px 20px;
    margin: 0 30px;
    font-size: 30px;
    display: inline-block;
    font-weight: 700;
}

.navbar-item:hover, .active  {
    background-color: white;
    color: #04080f;
}



#title-area {
    margin: 10% 0 0 0;
}

#title-area h1 {
    font-size: 100px;
    text-align: center; 
    margin: 0;
}

#title-area h2 {
    text-align: center;
    margin: 0 auto;
    color: #91c2ff;
    font-weight: 300;
    font-size: 30px;
}



#main-page {
    width: 70%;
    margin: 7% auto;
}

#skills-grid {
    background-color: white;
    text-align: center;
    border-radius: 15px;
    width: 70%;
    margin: 0 auto;
}

#skills-grid h1 {
    text-align: center;
    color: white;
    padding: 10px 20px;
    background-color: #f32d1f;
    display: inline-block;
}

.skill-item {
    display: inline-block;
    padding: 5px;
    margin: 20px 40px;
}

.skill-item img {
    height: 120px;
}

.skill-item h2 {
    text-align: center;
    margin: 0 auto;
    color: black;
}